html {
    width: 100%;
    height: 100%;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url("https://w12evostorage.blob.core.windows.net/evo/totem/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 1.6rem;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 45rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
    text-align: right; /* Align text to the right */
}

label {
    font-size: 2.5rem;
    color: #ccc;
    text-align: right; /* Align text to the right */
}

input {
    width: 100%;
    height: 4rem;
    outline: none;
    padding: .8rem;
    border-radius: .8rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;

}

::placeholder {
    color: #c4c4c4;
}

button {
    width: 100%;
    height: 5rem;
    margin: 2rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s;
}

button:hover {
    background-color: #fff;
    color: #000;
}

/* Media queries for tablets (768px) */
@media (max-width: 768px) {
    .container {
        width: 80%; /* Adjust the width for smaller screens */
        max-width: 100%;
    }
    input {
        height: 3rem; /* Reduce the height of the input field for tablets */
    }
}

/* Media queries for mobile devices (480px) */
@media (max-width: 480px) {
    body {
        background-size: cover; /* Adjust background size for smaller screens */
    }
    .container {
        width: 90%; /* Adjust the width for mobile devices */
        max-width: 100%;
        padding: 1rem; /* Reduce internal padding for mobile devices */
    }
    input {
        height: 2.5rem; /* Reduce the height of the input field for mobile devices */
    }
}
